{% extends 'base.html' %}

{% block content %}
    <h1>My Found Plants</h1>
    <div class="plant-grid">
        {% for plant in plants %}
            <div class="plant-item">
                <a href="{{ url_for('pages.plant_overview', plant_id=plant.id) }}">
                    <h2>{{ plant.name }}</h2>
                    <img src="{{ plant.get_image_url(200) }}" alt="{{ plant.name }}" width="200">
                </a>
            </div>
        {% else %}
            <p>You haven't added any plants yet. <a href="{{ url_for('pages.add_plant') }}">Add one now!</a></p>
        {% endfor %}
    </div>
{% endblock %}